/* CSS for header */
.header {
    margin-right: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    background-image:url(./images/pattern-bg.png);
  }
  
  .header .logo {
    
    font-size: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(8, 8, 8);
    text-decoration:none;
    margin-left: 30px;
    
  }
  
  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f5f5f5;
    margin-right: 20px;
  }
  
  .nav-items a {
    text-decoration: none;
    color: #000;
    padding: 35px 20px;
  }

  #map {
    height: 480px;
    width: 50%;
    
  }

  .intro p {
    font-size: 20px;
    color: #d1d1d1;
    text-transform: uppercase;
    margin: 20px 0;
  }
  

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #302f49;
    padding: 10px 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
  }
  
  .footer .copy {
    color: #fff;
  }
  
  .bottom-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
  }
  
  .bottom-links .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  }
  
  .bottom-links .links span {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin: 10px 0;
  }
  
  .bottom-links .links a {
    text-decoration: none;
    color: #a1a1a1;
    padding: 10px 20px;
  }

  .lists {
    background-color: rgb(37, 26, 54);
    color: seashell;
    padding: 2.5%;
    font-size:larger;
    font-family:'Courier New', Courier, monospace;
  }
  .module-border-wrap {
    margin-right: 20px;
    max-width: 100%;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, red, purple);
    padding: 20px;
  }
  
  .module {
    background: #222;
    color: white;
    padding: 2rem;
    
  }
  
  .bgimage {
    height: 100vh;
    width:100vw;
    filter: brightness(90%);
    background-size: 100%;
    /* scroll */
    background-attachment: fixed;
    background-image: url(./images/hd-wallpaper-g88421c43d_1920.jpg);
  }

  .headtext {
    color:rgb(89, 160, 154);
    font-family:'Courier New', Courier, monospace;
  }